#ascii-table {
    font-family: Courier, monospace;
    font-size: 12px;
    min-width: 140px;
    text-align: right;
    line-height: 11px;
    border: 0;
}

#ascii-table thead th {
    border-bottom: 1px solid black;
}

#ascii-table .char {
    color: red;
}

#ascii-table td {
    padding: 1px 3px;
}